html, body {
    height:100%;
    width:100%;
    font-family: 'Montserrat', 'Helvetica';
  }
    @media (max-width: 991px) {
      .image-fix{
        width: 100%;
        
      }
    }
  .base-style{
    display: flex;
    align-self: center;
    justify-content:center;
    padding-top: 150px;
  }
  // WRAPPER
  .cover{
    background-image: linear-gradient(to right, #283048, #27444e);
    position: relative;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center ;
  }
  
  .wrapper {
    height: auto;
    width: auto;
    position: relative;
  }
  .cover1{
    width: auto ;
    max-width: 100% ;
    height: auto ;
  }
  .main-section {
    top: 150px;
    width: 100%;
    padding: 150px 0 0;
  }
  
  .hero-section{
    h2 {
      color: white;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    perspective: 1000px;
    color: white;
    width: 400px;
    position: relative;
  
    &-content {
      position: absolute;
      bottom: 20px;
      width: 360px;
      left: 6%;
      z-index: 1;
  
      &-intro {
        font-size: 17px;
      }
    }
  }
  
  .image {
    width: auto;
    max-width: 100%;
  }
  
  .hero-welcome-text > h1 {
    color: white;
    text-transform: uppercase;
    font-size: 27px;
    margin-top: 80px;
  }
  
  .hero-welcome-bio {
    margin-top: 20px;
    color: white;
  
    .fa-stack {
      font-size: 28px;
    }
  
    .list-inline-item {
      > a {
        color: #373737;
      }
    }
  }
  
  .hero-welcome-wrapper {
    justify-content: flex-end;
  
  }
  
  @media (max-width: 991px) {
    .hero-section {
      width: 341px;
      height: 445px;
      &-content {
        width: 341px;
      }
    }
  
    .hero-welcome-text > h1 {
      margin-top: 0px;
    }
  }
  
  .background-image {
    position: absolute;
    width: 1762px;
    height: 493px;
  }
  
  .shadow-custom {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    box-shadow: -17px 13px 41px rgba(13,78,158,0.6);
    border: 2px solid #3bace5;
  
    .shadow-inner {
      width: 100%;
      height: 100%;
      box-shadow: -17px 13px 13px rgba(0,0,0,0.09);
    }
  }
  
  .shadow-custom-2 {
    border: 2px solid #f37d49;
    box-shadow: -17px 13px 41px rgba(13,78,158,0.3);
  }
  .cover-1 {
    background-image: linear-gradient(45deg, rgb(254, 202, 83), rgb(253, 157, 97));
  }
  .flipper {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  
  .flipper.isFlipping {
    transform: rotateY(-180deg);
  }
  .front, .back{
    backface-visibility: hidden;
    position: absolute;
    top:0;
    left:0;
  }
  .front {
    transform: rotateY(0deg);
    z-index: 9999;
  }
  .back{
    transform: rotateY(180deg);
  }
.style-card{
  background-color: transparent;
  border-color: rgb(194, 194, 25);
  border-width: 5px;
  overflow: auto;
  height: 400px;
}
.notice-card{
  background-color: transparent;
  border-color: rgb(196, 141, 23);
  border-width: 2px;
}
.welcome-style{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.id-provide-container{
  display: flex;
  justify-content: center;
  align-self: center;
}
.full-padding{
  height: 700px;
}
.breakword{
  word-wrap: break-word;
  color: white;
}