@import './shared/fonts';
//Pages
@import './index';
@import './shared/header';
@import './shared/colors';
@import './portfolio';
@import './about';
@import './blogs';
@import './slate-editor';
@import './cv';
@import './card.scss';
@import './questionform.scss';
@import './profile.scss';
@import './wbjeecard.scss';
@import './detailcard.scss';
@import './rating.scss';
@import './permission.scss';
html, body {
    height:100%;
    width:100% ;
    font-family: 'Montserrat', 'Helvetica';
  }
  .self-typed{
    font-size: 31px;
    font-weight: bold;
    letter-spacing: 2px;
    color:white;
  }
  .absolute {
    position: absolute;
  }
  .error{
    color:red;
    font-weight: 700;
  }
  .clickable{
    cursor: pointer;
  }
  .base-page {
    padding: 150px 0 100px 0;
    color: black;
    background-color: #ecedee;
    min-height: 100vh;
    .page-header {
      .page-header-title {
        font-weight: 700;
        color: black;
        display: inline-block;
        margin-bottom: 20px;
      }
    }
  }
.header-img{
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin-right: 20px;
}