.question-upload{
    padding-top: 20PX;
}
.label-text{
    color: #03a9f4;
    font-family: 'Montserrat', 'Helvetica'; 
    font-size: 20px;   
}
.file-text{
    position: relative;
    color: white;
    background-color: #c2185b;
    border-radius: 10px;
    padding: 10px;
}
.file-input{
    position:absolute;
    opacity: 0;
}
.wbjee-form{
    height: auto;
    width: auto;
}
.question-upload-container{
    height: auto;
    width: 100%;
}
.question-leftcol{
    background-color: red;
    background-size: contain;
    width: 100%;
}
.question-cover{
    width: 100%;
    height: 100%;
}