.wbjee-card{
    width: 500px;
    height: 300px;
    background-color: transparent;
}
.wbjee-div{
    display: flex;
    justify-content: center;
    align-self: center;
}
.div-pad{
    padding-top: 40px;
}
.wbjee-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: transparent;
    border-radius: 20px;
    border-color: #b49d29;
    border-width: 3px;
    color: #bdbdbd;
}
.wbjee-body{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: transparent;
    border-radius: 2px;
    border-color: #806f1f;
    border-width: 5px;
    color: #ecdede;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    overflow: auto; 
}
.wbjee-footer{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: transparent;
    border-radius: 20px;
    border-color: #b49d29;
    border-width: 3px;
    color: #bdbdbd;
}
.wbjee-option{
    height: 80px;
    width: 500px;
    background-color: transparent;
    border-color: rgb(201, 201, 28);
    border-width: 2px;
}
.wbjee-option-div{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.wbjee-option-body{
    padding-left: 40px;
}
.wbjee-option-text{
    color: rgb(192, 186, 186);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .input1{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #b49d27;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .Wbjee-button{
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .button-next{
    background-image: linear-gradient(to right, #d0f01e, #d6b210); 
    padding-left: 20px;
    padding-right: 20px;
    color: #212121;     
  }
  .button-prev{
    background-image: linear-gradient(to right, #1e79f0, #10d6d6); 
    padding-left: 20px;
    padding-right: 20px;
    color: #212121;           
  }
  .wbjee-jump-box{
    background-color: transparent;
    height:auto;
    width: auto;
    padding-bottom: 40px;
    border-color: #d0f01e;
    border-width: 5px;
  }
  .jump-button{
      padding-left: 20px;
      padding-right: 20px;
      background-image: linear-gradient(to right, #d0f01e, #d6b210); 
      margin-left: 10px;
      margin-top: 10px;
      color: #212121;
  }
  .jump-button-two{
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(to right, #d0f01e, #d6b210); 
    margin-left: 2px;
    margin-top: 10px;
    color: #212121;
}
.jump-buttons{
    padding-top:-10px;
}

.correct-text{
  color: white;
  font-size: 25px;
}